In [3]:
2+3

5

In [1]:
x='hello'

In [2]:
y=' raseswari'

In [3]:
x+y

'hello raseswari'

In [4]:
x='f'+'hello'[1:]

In [5]:
x

'fello'

In [6]:
x+y

'fello raseswari'

In [7]:
print('hello {}'.format('raseswari'))

hello raseswari

In [11]:
print('the {0} {2} {0} '.format('quick','brown','fox'))

the quick fox quick

In [12]:
print('the {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

the quick brown fox

In [15]:
print(f"hello {'raseswari'} and {'rakhi'}")

hello raseswari and rakhi

In [1]:
'hello world'[:11]

'hello world'

In [2]:
'raseswari'[3:5]

'es'

In [3]:
'hello'[::]

'hello'

In [4]:
'hellooo'[::-1]

'ooolleh'

In [7]:
print('name:raseswari')
print('age:18 yrs')

name:raseswari
age:18 yrs

In [6]:
print('name:raseswari')
print('\nage:18 yrs')

name:raseswari

age:18 yrs

In [11]:
s='hello world'

In [12]:
y=" it's beautiful outside"

In [15]:
s=s+y

In [16]:
s

"hello world it's beautiful outside"

In [17]:
s=s+y

In [18]:
s

"hello world it's beautiful outside it's beautiful outside"

In [20]:
y.upper()

" IT'S BEAUTIFUL OUTSIDE"

In [21]:
y

" it's beautiful outside"

In [22]:
a='RASESWARI'

In [23]:
a.lower()

'raseswari'

In [24]:
a

'RASESWARI'

In [25]:
y.split()

["it's", 'beautiful', 'outside']

In [26]:
a.split()

['RASESWARI']

In [27]:
y.split('e')

[" it's b", 'autiful outsid', '']

# old string formatting methods

# 1.place holders

In [29]:
print("I am going to inject %s here".%'something')

SyntaxError: invalid syntax (<ipython-input-29-575b1413501d>, line 1)

its not working as it is old method not for python 3 or 4

In [30]:
print("we are going to inject %s and %s over here".%('this','that'))

SyntaxError: invalid syntax (<ipython-input-30-f40865d44a8b>, line 1)

its not working as it is old method not for python 3 or 4

In [31]:
(x,y)=('some','more')

In [32]:
print((x,y))

('some', 'more')

In [33]:
print('here you all need %s and %s'.%(x,y))

SyntaxError: invalid syntax (<ipython-input-33-fce8f4583158>, line 1)

its not working as it is old method not for python 3 or 4

# 2.format conversion methods

In [35]:
print('this %s is creature.'.%'thing')
print('this %r is a creature.'.%'thing')

SyntaxError: invalid syntax (<ipython-input-35-d34a89354792>, line 1)

its not working as it is old method not for python 3 or 4

In [36]:
print('this %s is creature.'.%'thing\tbig')
print('this %r is a creature.'.%'thing\tbig')

SyntaxError: invalid syntax (<ipython-input-36-4b10f022b8a3>, line 1)

its not working as it is old method not for python 3 or 4

In [37]:
print('I write %s programs a day'.%3.45)
print('I write %d programs a day'.%3.45)

SyntaxError: invalid syntax (<ipython-input-37-4bd55b7f08c5>, line 1)

its not working as it is old method not for python 3 or 4

In [38]:
name='rakhi'
print(f'her name is {name}')

her name is rakhi

In [39]:
print(f'her name is {name!r}')

her name is 'rakhi'

In [43]:
num=23.4567345
print('the num={0:2.4}'.format(num))
print(f'the num={num:{2}.{4}}')

the num=23.46
the num=23.46

In [45]:
num=45.4
print('the num={0:2.4}'.format(num))
print(f'the num={num:2.4}')

the num=45.4
the num=45.4

In [2]:
d={'k1':123,'k2':['a','b','c']}
print(d['k2'][1].upper())

B

In [6]:
a=set()

In [7]:
a

set()

In [8]:
a.add(2)

In [9]:
a

{2}

In [18]:
l=['e','a','r']

In [19]:
set(l)

{'a', 'e', 'r'}

In [21]:
myset=set()
myset.add(2)

In [22]:
myset

{2}

In [26]:
l=['riman','rakhi','riman','t']

In [27]:
set(l)

{'rakhi', 'riman', 't'}

In [28]:
b=None

In [29]:
b

In [30]:
print(b)

None

In [1]:
2<=3>=1

True

In [1]:
print(bool('abc'))

True

In [1]:
print(bool(0))

False

In [2]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'grapes', 'mango', 'orange', 'apple', 'cherry', 'banana'}

In [2]:
lst=[]
for letter in 'word':
    lst.append(letter)
print(lst)

['w', 'o', 'r', 'd']

In [4]:
l=[]
for num in range(0,11):
    l.append(num**2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
l1=[]
for num in range(0,11):
    if num%2==0:
       l1.append(num)
print(l1)

[0, 2, 4, 6, 8, 10]

In [6]:
celcius=[10,20,34,56,78]
f=[]
for temp in celcius:
    f.append((9/5)*temp+32)
print(f)

[50.0, 68.0, 93.2, 132.8, 172.4]

In [2]:
l=['r','a','k','h','i']
''.join(l)

'rakhi'